body{
    display:flex;
    flex-direction: column;
    flex:1;
    width: 100vw;
    height: 100vh;
}
ul{
    list-style-type: none;
    display: flex;
    gap:15px;

}

a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

button{
    color:#E5E7EB;
    background-color: #3882F6;
    padding: 8px, 16px;
    cursor: pointer;
    border-radius: 8px;
    height:30px;
    width: 85px;
}

.logo{
    color:#F9FAF8;
    font-size: 24px;
}

.header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    padding: 0 20px
}
.left, .right{
    display: flex;
    align-items: center;

}
.body{
    display: flex;
    flex-direction: column;
}

.container1{
    display: flex;
    background-color: #1F2937;
    padding:20px;
    justify-content: center;

}
.text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    
}
.text1{
    color:#E5E7EB;
    font-size: 18px;
    margin-bottom:10px;
}

.text2{
    color:#1F2937;
    font-size: 20px;
}

.text3{
    font-size: 36px;
    color:#1F2937;
    font-weight: 800;
    margin-bottom: 20px;
}

.text4{
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    padding:70px;
}
.text5{
    color:#E5E7EB;
    font-size: 24px;
}

.left1{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding-left: 200px;
    padding-right: 200px;
}
.right1{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}
.container2, .container4{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:40px;
}
.squares{
    display: flex;
    justify-content: center;
    gap:25px;
}

.info{
    display: flex;
    flex-direction: column;
    max-width: 200px;
      
}
.container3{
    background-color: #E5E7EB;
}


.box{
    display: flex;
    background-color: #3882F6;
    padding:25px;
    border-radius: 8px;
    justify-content: space-between;
}
.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}